[submodule "controller"]
	path = controller
	url = git@github.com:among-us-bot/aque-controller.git
[submodule "worker-manager"]
	path = worker-manager
	url = git@github.com:among-us-bot/aque-worker-manager.git
[submodule "worker"]
	path = worker
	url = git@github.com:among-us-bot/aque-worker.git
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:among-us-bot/aque-dashboard.git
[submodule "prometheus-delivery"]
	path = prometheus-delivery
	url = git@github.com:among-us-bot/prometheus-delivery.git
